{% extends 'base.html' %}

{% block body %}

 <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Simple Table</h4>
                  <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Equipment
                        </th>
                        <th>
                          Image
                        </th>
                        <th>
                          Quantity
                        </th>
                        <th>
                          Message
                        </th>
                        <th>
                          Created
                        </th>
                        <th>
                          Status
                        </th>
                      </thead>
                      <tbody>
                      {% for object in object_list %}
                        <tr>
                          <td>
                            {{object.equipment.name}}
                          </td>
                          <td>
                            <img height="30" width="30" src="{{object.equipment.image.url}}"/>
                          </td>
                          <td>
                            {{object.quantity}}
                          </td>
                          <td>
                            {{object.message}}
                          </td>
                          <td>
                           {{object.created}}
                          </td>
                          <td> <span class="bg-danger ws-700">  {{object.get_status_display}}</span> </td>
                        </tr>
                    
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
{% endblock body%}